{% extends 'website/_base.html' %}

{% block content %}
<div class="row">
	<div class="row">
		<div class="col-md-8">
			<h2>Create a new brew!</h2>
			<div class="well">
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a>
						</li>
						<li role="presentation">
							<a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab">Ingredients</a>
						</li>
						<li role="presentation">
							<a href="#instructions" aria-controls="instructions" role="tab" data-toggle="tab">Instructions</a>
						</li>
						<li role="presentation">
							<a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a>
						</li>
					</ul>

					<form class="form-horizontal" action="/addrecipe/" method="post" role="form">
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active well" id="details">
								<div class="form-group">
									<label class="col-md-2 control-label" for="beerTitle">Title:</label>
									<div class="col-md-4">
										<input class="form-control" type="text" placeholder="Name Your Beer!" id="beerTitle" />
									</div>
									
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label" for="beerDescription">Description:</label>
									<div class="col-md-9">
										<textarea class="form-control" id="beerDescription"></textarea>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane well" id="ingredients">
								{% for ingredient_type, ingredients in ingredient_dict.iteritems %}
								<div clas="row">
									<div data-ingredient-type="{{ ingredient_type.display_name }}" class="form-group">
										<label class="col-md-2 control-label">{{ ingredient_type.display_name }}</label>
										<div class="col-md-3">
											<select class="form-control">
												<option value="0">Select</option>
												{% for ingredient in ingredients %}
													<option value="{{ ingredient.id }}">{{ ingredient.name }}</option>	
												{% endfor %}
											</select>
										</div>
										<label class="col-md-2 control-label">Amount</label>
										<div class="col-md-5">
											{% if ingredient_type.display_name == "Yeast" or ingredient_type.display_name == "Hops" %}
												<input class="form-control" type="number" step=".1" min="0" /> oz
											{% else %}
												<input class="form-control" type="number" min="0" /> lbs
											{% endif %}
											<a onclick="addIngredient(this)" class="btn btn-default btn-xs">
												<span class="glyphicon glyphicon-plus"></span>
											</a>
										</div>
									</div>
								</div>

								{% endfor %}
								<i>Can't find an ingredient? Add a new one here!</i>
								<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addIngredientModal">
									Add Ingredient
								</button>
								<!-- Modal -->
								<div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="addIngredientModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        <h4 class="modal-title" id="myModalLabel">Add a new ingredient</h4>
								      </div>
								      <div class="modal-body">
								        <select>
								        	<option value="0">Select</option>
								        	{% for ingredient_type in ingredient_types %}
								        		<option value="{{ ingredient_type.id }}">{{ ingredient_type.display_name }}</option>
								        	{% endfor %}
								        </select>
								        <input type="text" />
								      	<div id="ingredientAlert">Please select an ingredient type and enter a name.</div> 
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								        <a class="btn btn-primary" onclick="addNewIngredient(this)">Add Ingredient</a>
								      </div>
								    </div>
								  </div>
								</div>
								<div>
									<h4>Added Ingredients</h4>
									<ul id="addedIngredients"></ul>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane well" id="instructions">
								<textarea id="beerInstructions"></textarea>
							</div>
							<div role="tabpanel" class="tab-pane well" id="summary">
								<div>
									<h1 id="summaryTitle">Title</h1>
									<p id="summaryDescription">Description</p>
									<h4>Ingredients</h4>
									<div class="row">
										{% for ingredient_type in ingredient_types %}
							        	<div class="col-md-3" id="ingredientSummary{{ingredient_type.display_name}}">
											<h5>{{ingredient_type.display_name}}<h5>
											<ul><ul>
										</div>
							        	{% endfor %}
									</div>
									<h4>Instructions</h4>
									<div id="summaryInstructions"></div>
									<ul></ul>
								</div>
								<a class="btn btn-primary" onclick="submitRecipe(this)">Submit Recipe</a>
							</div>
						</div>
						<input type="hidden" id="hiddenIngredients" />
						<input type="hidden" id="hiddenAmounts" />
					</form>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<h2>Recent Beer Recipes</h2>
			<ul class="list-group">
				{% for recipe, ingredients in recipe_list.iteritems %}
					<li class="list-group-item">
						<a  data-toggle="collapse" data-target="#recipe{{ recipe.id }}">{{ recipe.title }}</a>
						<div id="recipe{{ recipe.id }}" class="collapse out">
							<p>{{ recipe.description }}</p>
							<ul class="list-group sub-list">
								<div class="row">
								{% for ingredient in ingredients %}
									<div class="col-md-12">
										<li class="list-group-item">
											<span class="badge">{{ ingredient.amount }}</span>
											{{ ingredient.ingredient.name }} {{ ingredient.ingredient.ingredient_type.display_name }}
										</li>
									</div>
								{% endfor %}
								</div>
								<h4>Instructions:</h4>
								<p> {{ recipe.instructions }} </p>
							<ul>
						</div>
					</li>
				{% empty %}
					<li class="list-group-item">
						<h4>There are no beer recipes yet. Add one now!</h4>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row">
	</div>
</div>

{% endblock content %}

{% block js %}

<script type="text/javascript" src="static/js/index.js"></script>

{% endblock %}